/* * {
  box-sizing: border-box;
}
body{
  margin: 0px;
  background-color:rgb(200, 249, 232) ;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}


.square {
  border: 1px solid #999;
  background: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  height: 100vh;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.blue{
  color:blue;
}
.pink{
  color: rgb(237, 29, 174);
}
.border-for-box{
  border: 1px solid gray;
  position: relative;
}
.clickable{
  background-color: rgb(248, 196, 205);
}
.not-clickable{
  background-color: rgb(218, 206, 206);
}
.position{
  position: absolute;
  font-size: 100px;
  bottom:-10px;
  right: -5px;
  margin-right: 20px;
}
.for-display{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.rows{
  display: flex;
}
.red{
  color: red;
}
.green{
  color: green;
}
.sizing{
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(243, 154, 87);
  margin: 0px;
  height: 100px;
  align-items: center;
  
}
h1{
  margin: 0px;
  font-size: 40px;
  color: rgb(7, 78, 7);
}
.button-deco{
  width: 50%;
  font-size:20px ;
  padding:10px 5px;
  background-color: blueviolet;
  border: none;
  border-radius: 3px;
  color: white;
}
.centering{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.square-btn{
  height: 50px;
  width: 50px;
  font-size: 35px;
  border-radius: 0px;
  border: 1px solid gray;
}
.hor{
  display: flex;
  
}
.ver{
  display: flex;
  flex-direction: column;
}
.border{
  border: 2px solid gray;
  position: relative;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
} */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0px;
  background-color: rgb(248, 248, 231);
}

.square-btn {
  height: 50px;
  width: 50px;
  font-size: 35px;
  border-radius: 0px;
  border: 1px solid gray;
  font-weight: bold;
  background-color: transparent;
}
.hor {
  display: flex;
}
.ver {
  display: flex;
  flex-direction: column;
}
.border {
  border: 2px solid rgb(97, 95, 95);
  position: relative;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 96, 93);
  margin: 0px;
  height: 10vh;
  align-items: center;
  color: white;
}
.centering-ultimate-box {
  display: flex;
  height: 90vh;
  gap: 30px;
  padding-top: 20px;
}
.board-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.clickable-box {
  background-color: rgb(247, 218, 151);
}
.blue {
  color: rgb(15, 121, 243);
}
.block-with-winner {
  text-align: center;
  font-size: 130px;
  z-index: 1;
  background-color: white;
  height: 148px;
  width: 148px;
  bottom: 3px;
  right: 3px;
}
.pink {
  color: rgb(237, 29, 174);
}
.gray {
  background-color: rgb(204, 203, 203);
}
.block-with-draw {
  text-align: center;
  font-size: 150px;
  bottom: -10px;
  right: 60px;
  z-index: 1;
}
.red {
  color: red;
}
.green {
  color: green;
}
.status-next-text-deco {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
}
.status-winner-deco {
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
}
.status-draw-deco {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}
h1 {
  font-size: 50px;
  margin: 0px;
}
.without-board {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 20px;
  background-color: rgb(216, 61, 9);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
p {
  font-size: 20px;
}
h2 {
  font-size: 30px;
}

.rules {
  margin-right: 50px;
}
.ultimate-board {
  background-color: white;
}
@media only screen and (max-width: 1100px) {
  .centering-ultimate-box {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
  }
  .board-div {
    width: 90%;
    gap: 30px;
  }
  .without-board {
    width: 90%;
  }
  .rules {
    margin-right: 0px;
  }
  button {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  .board-div {
    transform: scale(0.95);
  }
  button {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .board-div {
    transform: scale(0.9);
  }
  .centering-ultimate-box {
    gap: 40px;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }
  .board-div {
    transform: scale(0.8);
  }
  .centering-ultimate-box {
    gap: 0px;
    padding-top: 0px;
  }
}
@media only screen and (max-width: 400px) {
  .board-div {
    transform: scale(0.75);
  }
  .board-div {
    gap: 45px;
  }
}
@media only screen and (max-width: 360px) {
  .board-div {
    transform: scale(0.6);
  }
}
